<section class="tab description scrollable {{tabs.inventory.cssClass}}" data-group="primary" data-tab="inventory">
    <div style="display:flex;column-gap:24px;">
        <div style="width: 100%;">
            {{> "systems/break/templates/actors/templates/sheet-equipment.hbs"}}
            {{> "systems/break/templates/actors/templates/sheet-bags.hbs"}}
        </div>
        {{> "systems/break/templates/actors/templates/sheet-bag-content.hbs"}}
    </div>
</section>