<div class="flexcol" style="width: 100%;">
    <div class="section-header">{{localize "BREAK.RankXp"}}</div>
    <div style="display: flex; max-height: 46px;">
        <div class="xp-box" style="border-right: 1px solid; width: 25%;">
            <label class="xp-label">{{localize "BREAK.Rank"}}</label>
            <label style="align-self: center;">{{rank}}</label>
        </div>
        <div class="xp-box" style="border-right:  1px solid; width: 25%;">
            <label class="xp-label">{{localize "BREAK.CurrentXp"}}</label>
            <input name="system.xp.current" type="number" class="aptitude-bon-input" value="{{document.system.xp.current}}" placeholder="0" style="align-self: center;"/>
        </div>
        <div class="xp-box" style="width: 50%;">
            <label class="xp-label">{{localize "BREAK.TotalXpNextRank"}}</label>
            <label style="align-self: center;">{{xpNextRank}}</label>
        </div>
    </div>
</div>