<form class="flexcol {{cssClass}} sheet" autocomplete="off">
    <section class="sheet-body">
        <div class="flexcol content" style="width: 100%;">
            <div class="tab description" data-group="primary" data-tab="identity">
                <div style="display:flex; column-gap: 24px;">
                    {{> "systems/break/templates/parts/sheet-identity.html"}}
                    {{> "systems/break/templates/parts/sheet-aptitudes.html"}}
                </div>
                {{> "systems/break/templates/parts/sheet-allegiance.html"}}
            </div>
            <div class="tab description" data-group="primary" data-tab="combat">
                {{> "systems/break/templates/parts/sheet-combat.html"}}
                {{> "systems/break/templates/parts/sheet-abilities.html"}}
                <div style="display: flex; column-gap: 24px;margin-top: 12px;">
                    <div class="flexcol" style="width: 100%;">
                        <div class="section-header">{{localize "BREAK.Quirk"}}</div>
                        <div style="display: flex;column-gap: 8px; flex-wrap: wrap;">
                            {{#each quirks}}
                                <div style="display: flex; margin-bottom: 6px;align-items: center; width: 33%;">
                                    <label>{{this.name}}</label>
                                    <button data-action="deleteItem" data-id="{{this._id}}" style="max-width: 32px;margin-left: auto;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    {{> "systems/break/templates/parts/sheet-xp.html"}}
                </div>
                
            </div>
            <div class="tab description" data-group="primary" data-tab="inventory">
    
            </div>
        </div>
    </section>
    <nav class="tabs" data-group="primary">
        <a class="item active" data-tab="identity"><i class="fas fa-hood-cloak"></i></a>
        <a class="item" data-tab="combat"><i class="fas fa-sword"></i></a>
        <a class="item" data-tab="inventory"><i class="fas fa-sack"></i></a>
    </nav>
</form>
