<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/generic-header.hbs"}}
    <div class="section-header">{{localize "BREAK.AdvancementTable"}}</div>
    {{> "systems/break/templates/items/parts/advancement-table.hbs"}}
</form>