<header class="sheet-header" style="flex: 0;margin-bottom:12px;">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" style="height:100px;max-width:33%"/>
    <div style="height: 100%;display:flex;flex-direction:column;">
        <div class="header-fields" style="display:flex; align-items:center;">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </div>
</header>
