<form class="flexcol {{cssClass}}" autocomplete="off">
    {{> "systems/break/templates/items/item-header.hbs"}}
    <div style="display:flex;column-gap: 24px;">
        <div class="flexcol" style="flex: 0.75;">
            <div class="section-header">{{localize "BREAK.Details"}}</div>
            {{> "systems/break/templates/items/parts/weapon-details.hbs"}}
            {{> "systems/break/templates/items/parts/item-abilities.hbs"}}
        </div>
        <div class="flexcol" style="flex: 1;">
            <div class="section-header">
                {{localize "BREAK.Description"}}
            </div>
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable}}
        </div>
    </div>
</form>