<div class="flexcol" style="width: 100%;">
    <div class="section-header">{{localize "BREAK.Allegiance"}}</div>
    <div style="display: flex;">
        <div style="border-right: 1px solid black; padding-right: 12px;display: flex;flex-direction: column;row-gap: 12px;">
            <div style="display: flex; align-items: center;">
                <div class="aptitude-value-circle">
                    <div class="aptitude-value-inner-circle">
                        <input class="aptitude-base-value circle-input" name="system.allegiance.dark" value="{{actor.system.allegiance.dark}}" />
                    </div>
                </div>
                <div style="margin-left: 8px;">
                    <div style="margin-top: 4px;">
                        <p class="aptitude-name">{{localize "BREAK.DarkAllegiancePoints"}}</p>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="aptitude-value-circle">
                    <div class="aptitude-value-inner-circle">
                        <input class="aptitude-base-value circle-input" name="system.allegiance.bright" value="{{actor.system.allegiance.bright}}" />
                    </div>
                </div>
                <div style="margin-left: 8px;">
                    <div style="margin-top: 4px;">
                        <p class="aptitude-name">{{localize "BREAK.BrightAllegiancePoints"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="border-right: 1px solid black; padding-right: 24px;">
            <div style="display: flex;">
                <input type="checkbox" disabled {{#when allegiance 'eq' 0}}checked{{/when}} />
                <label>{{localize "BREAK.None"}}</label>
            </div>
            <div style="display: flex;">
                <input type="checkbox" disabled {{#when allegiance 'eq' 1}}checked{{/when}} />
                <label>{{localize "BREAK.Dark"}}</label>
            </div>
            <div style="display: flex;">
                <input type="checkbox" disabled {{#when allegiance 'eq' 2}}checked{{/when}} />
                <label>{{localize "BREAK.Twilight"}}</label>
            </div>
            <div style="display: flex;">
                <input type="checkbox" disabled {{#when allegiance 'eq' 3}}checked{{/when}} />
                <label>{{localize "BREAK.Bright"}}</label>
            </div>
        </div>
        <div style="margin-left: 8px; width: 50%;">
            <label>{{localize "BREAK.Gifts"}}</label>
            <div style="display: flex; column-gap: 8px; flex-wrap: wrap;">
                {{#each gifts}}
                    <div style="display: flex; margin-bottom: 6px;align-items: center; width: 33%;" data-id="{{this._id}}">
                        <a class="item-link">{{this.name}}</a>
                        <a style="margin-left: 6px;" class="item-control interface-only" data-context-menu>
                            <i class="fas fa-ellipsis-vertical"></i>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>