<div class="flexcol" style="width: 100%;">
    <div class="section-header">{{localize "BREAK.Identity"}}</div>
    <div style="text-align: center;">
        <img class="profile portrait" src="{{actor.img}}" data-tooltip="{{actor.name}}" data-edit="img" />
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Name' }}</label>
        <div class="input wrapper">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'BREAK.Name' }}" />
        </div>
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Calling' }}</label>
        <div class="input wrapper">
            <input name="system.calling" type="text" value="{{actor.system.calling}}" placeholder="{{ localize 'BREAK.Calling' }}" />
        </div>
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Species' }}</label>
        <div class="input wrapper">
            <input name="system.species" type="text" value="{{actor.system.species}}" placeholder="{{ localize 'BREAK.Species' }}" />
        </div>
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Homeland' }}</label>
        <div class="input wrapper">
            <input name="system.homeland" type="text" value="{{actor.system.homeland}}" placeholder="{{ localize 'BREAK.Homeland' }}" />
        </div>
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Languages' }}</label>
        <div class="input wrapper">
            <input name="system.languages" type="text" value="{{actor.system.languages}}" placeholder="{{ localize 'BREAK.Languages' }}" />
        </div>
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.History' }}</label>
        <div class="input wrapper">
            <input name="system.history" type="text" value="{{actor.system.history}}" placeholder="{{ localize 'BREAK.History' }}" />
        </div>
    </div>
    <div class="input root">
        <label class="identity-header-label">{{ localize 'BREAK.Purviews' }}</label>
        <div class="input wrapper">
            <textarea rows="6" name="system.purviews" type="text" value="{{actor.system.purviews}}" placeholder="{{ localize 'BREAK.Purviews' }}"></textarea>
        </div>
    </div>
    <!--<div class="input root" style="min-height: 90px;">
        <label>{{ localize 'BREAK.Description' }}</label>
        {{editor biographyHTML target="system.biography" button=true owner=owner editable=editable}}
    </div>-->
</div>