<div class="flexcol">
    <div class="section-header">{{localize "BREAK.CombatValues"}}</div>
    <div class="combat-values-section" style="border-bottom: 1px solid; padding-bottom: 8px;">
        {{!-- Attack --}}
        <div style="width: 50%; margin-right: 16px;">
            <div style="display: flex;">
                <div>
                    <p class="aptitude-name" style="text-transform: uppercase;">{{localize "BREAK.AttackBonus"}}</p>
                    <p class="aptitude-description">{{localize "BREAK.AttackBonusDescription"}}</p>
                </div>
                <div class="aptitude-base-container">
                    <label style="text-transform: uppercase;">{{localize "BREAK.Base"}}</label>
                    <input name="system.attack.value" type="number" class="aptitude-base-circle" style="text-align: center;" value="{{actor.system.attack.value}}" placeholder="0"/>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="combat-value-circle clickable">
                    <div class="aptitude-value-inner-circle">
                        <p class="aptitude-base-value">
                            {{sum actor.system.attack.value actor.system.attack.bon 0}}
                        </p>
                    </div>
                </div>
                <div style="margin-left: 8px;">
                    <div style="margin-top: 4px;">
                        <p class="aptitude-bon-label">{{localize "BREAK.BonPen"}}</p>
                        <input name="system.attack.bon" type="number" class="aptitude-bon-input" value="{{actor.system.attack.bon}}" placeholder="{{ localize 'BREAK.None' }}"/>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Hearts --}}
        <div style="width: 50%; margin-left: 16px;">
            <div style="display: flex;">
                <div>
                    <p class="aptitude-name" style="text-transform: uppercase;">{{localize "BREAK.HeartsTotal"}}</p>
                    <p class="aptitude-description">{{localize "BREAK.HeartsDescription"}}</p>
                </div>
                <div class="aptitude-base-container">
                    <label style="text-transform: uppercase;">{{localize "BREAK.Base"}}</label>
                    <input name="system.hearts.max" type="number" class="aptitude-base-circle" style="text-align: center;" value="{{actor.system.hearts.max}}" placeholder="0"/>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="aptitude-value-circle">
                    <div class="aptitude-value-inner-circle">
                        <input class="aptitude-base-value" type="number" style="background-color:transparent;border:none;width:100%;text-align:center;" value="{{actor.system.hearts.value}}" name="system.hearts.value" />
                    </div>
                </div>
                <div style="margin-left: 8px; width: 100%;">
                    <div style="display:flex; flex-wrap: wrap;column-gap: 4px;">
                        {{#for 0 (sum actor.system.hearts.max actor.system.hearts.bon 1) 1}}
                            {{#when this 'lt' ../actor.system.hearts.value}}
                            <!--<div id="heart" class="full"></div>-->
                            <i class="fas fa-heart" style="color:red; font-size: 24px;"></i>
                            {{/when}}
                            {{#when this 'gt' ../actor.system.hearts.value}}
                            <!--<div id="heart" class="empty"></div>-->
                            <i class="fas fa-heart-crack" class="empty" style="font-size: 24px;"></i>
                            {{/when}}
                        {{/for}}
                    </div>
                    <div style="margin-top: 4px; display: flex; align-items: center;">
                        <label class="aptitude-bon-label">{{localize "BREAK.BonPen"}}</label>
                        <input name="system.hearts.bon" type="number" class="aptitude-bon-input" value="{{actor.system.hearts.bon}}" placeholder="{{ localize 'BREAK.None' }}"/>
                        <div style="display: flex; align-items: center; margin-left: auto;">
                            <button class="hearts clickable" data-amount="1">+</label>
                            <button class="hearts clickable" data-amount="-1">-</label>        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="combat-values-section" style="margin-top: 10px;">
        {{!-- Defense --}}
        <div style="width: 50%; margin-right: 16px;">
            <div style="display: flex;">
                <div>
                    <p class="aptitude-name" style="text-transform: uppercase;">{{localize "BREAK.DefenseRating"}}</p>
                    <p class="aptitude-description">{{localize "BREAK.DefenseRatingDescription"}}</p>
                </div>
                <div class="aptitude-base-container">
                    <label style="text-transform: uppercase;">{{localize "BREAK.Base"}}</label>
                    <input name="system.defense.value" type="number" class="aptitude-base-circle" style="text-align: center;" value="{{actor.system.defense.value}}" placeholder="0"/>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="aptitude-value-circle">
                    <div class="aptitude-value-inner-circle">
                        <p class="aptitude-base-value">
                            {{defenseRating}}
                        </p>
                    </div>
                </div>
                <div style="margin-left: 8px;">
                    <div style="margin-top: 4px;">
                        <label class="aptitude-bon-label">{{localize "BREAK.BonPen"}}</label>
                        <input name="system.defense.bon" type="number" class="aptitude-bon-input" value="{{actor.system.defense.bon}}" placeholder="{{ localize 'BREAK.None' }}"/>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Speed --}}
        <div style="width: 50%; margin-left: 16px;">
            <div style="display: flex;">
                <div>
                    <p class="aptitude-name" style="text-transform: uppercase;">{{localize "BREAK.SpeedRating"}}</p>
                    <p class="aptitude-description">{{localize "BREAK.SpeedRatingDescription"}}</p>
                </div>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="speed-rating {{#when 0 'eq' speedRating}}active{{/when}}">
                    <p style="text-transform: capitalize;">{{localize "BREAK.SLOW"}}</p>
                    <p>0 {{localize "BREAK.Areas"}}</p>
                </div>
                <div class="speed-rating {{#when 1 'eq' speedRating}}active{{/when}}">
                    <p style="text-transform: capitalize;">{{localize "BREAK.AVERAGE"}}</p>
                    <p>1 {{localize "BREAK.Areas"}}</p>
                </div>
                <div class="speed-rating {{#when 2 'eq' speedRating}}active{{/when}}">
                    <p style="text-transform: capitalize;">{{localize "BREAK.FAST"}}</p>
                    <p>2 {{localize "BREAK.Areas"}}</p>
                </div>
                <div class="speed-rating {{#when 3 'lteq' speedRating}}active{{/when}}">
                    <p style="text-transform: capitalize;">{{localize "BREAK.VFAST"}}</p>
                    <p>2 {{localize "BREAK.Areas"}}</p>
                </div>
            </div>
            <div style="display:flex; align-items: center;">
                <label class="aptitude-bon-label">{{localize "BREAK.Base"}}</label>
                <input name="system.speed.value" type="number" class="aptitude-bon-input" value="{{actor.system.speed.value}}" placeholder="{{localize 'BREAK.AVERAGE'}}"/>
                <label class="aptitude-bon-label" style="margin-left: auto;">{{localize "BREAK.BonPen"}}</label>
                <input name="system.speed.bon" type="number" class="aptitude-bon-input" value="{{actor.system.speed.bon}}" placeholder="{{ localize 'BREAK.None' }}"/>
            </div>
        </div>
    </div>
</div>