<div class="flexcol" style="margin-top: 12px;">
    <div class="section-header">{{localize "BREAK.Abilities"}}</div>
    <div class="ability-list" style="display: flex; flex-wrap: wrap;">
        {{#each abilities}}
            <div style="display: flex; margin-bottom: 6px;align-items: center; width: 25%;" data-id="{{this._id}}">
                <a style="cursor: pointer;" class="item-link">{{this.name}}</a>
                <a class="item-control interface-only" style="margin-left: 6px;" data-context-menu>
                    <i class="fas fa-ellipsis-vertical"></i>
                </a>
            </div>
        {{/each}}
    </div>
</div>