@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-primary: white;
  --background-secondary: #e6e6e6;
  --background-tertiary: #585455;
  --text-primary: black;
  --text-secondary: white;
}

.break.sheet {
  textarea {
    resize: none;
    overflow: auto;
  }

  .window-content {
    height: 100%;
    padding: 15px;
    background: var(--background-primary);
  }

  .profile-img {
    background: var(--background-secondary);
  }

  .sheet-body {
    background: var(--background-primary);
  }

  form {
    height: 100%;
  }

  .section-header {
    background-color: var(--background-secondary);
    border-radius: 0px 6px 6px 0px;
    margin: 6px 0;
    display: flex;
    max-height: 24px;
    min-height: 24px;
    align-items: center;
    white-space: nowrap;
    font-weight: 700;
    padding: 5px;
  }

  .input {
    &.root {
      display: inline-flex;
      flex-direction: column;
      position: relative;
      min-width: 0px;
      padding: 0px;
      border-right: 0px;
      border-left: 0px;
      border-image: initial;
      vertical-align: top;
      border-top: 1.5px solid;
      border-bottom: none;
    }

    &.wrapper {
      font-family: Montserrat;
      font-weight: 400;
      line-height: 1.4375em;
      color: rgba(0, 0, 0, 0.87);
      box-sizing: border-box;
      cursor: text;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      margin-left: 6px;
      font-size: 14px;
    }
  }

  .aptitude-container {
    border-bottom: 1px solid;
    padding-bottom: 12px;
  }

  .aptitude-upper {
    display: flex;
    margin-bottom: 8px;
  }

  .aptitude-base-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
  }

  .aptitude-description {
    margin: 0px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
  }

  .aptitude-name {
    margin: 0px;
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 700;
    font-size: 14px;
  }

  .aptitude-base-circle {
    border: 1px solid;
    width: 32px;
    height: 32px;
    border-radius: 100px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 8px;
  }

  .aptitude-base-value {
    margin: 0px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
  }

  .aptitude-value-circle {
    border: 1px solid;
    min-width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: var(--background-secondary);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .combat-value-circle {
    border: 1px solid;
    min-width: 48px;
    height: 48px;
    border-radius: 100px;
    background-color: var(--background-secondary);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .aptitude-value-inner-circle {
    width: 37.5px;
    height: 37.5px;
    background-color: var(--background-primary);
    border-radius: 100px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .aptitude-value {
    margin: 0px;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
  }

  .portrait {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: var(--background-secondary);
  }

  .aptitude-trait {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-bottom: 0px;
  }

  .aptitude-trait-picker {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-bottom: 0px;
  }

  .aptitude-trait-label {
    margin: 0px;
    font-family: Montserrat;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 700;
  }

  .aptitude-trait {
    margin: 0px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    border: none;
    border-radius: 100px;
    min-width: 20px;
    text-align: center;
  }

  .aptitude-picked-trait {
    margin: 0px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
    border: 1px solid;
    border-radius: 100px;
    width: 20px;
    text-align: center;
  }

  .aptitude-bar-container {
    display: flex;
    flex-direction: column;
    margin-left: -2px;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }

  .aptitude-bon-label {
    margin: 2px 0px 0px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 1.5;
    font-size: 12px;
  }

  .aptitude-bon-value {
    margin: 2px 0px 0px 8px;
    font-family: Montserrat;
    line-height: 1.5;
    font-size: 12px;
    font-weight: normal;
  }

  .trait-square-empty {
    background-color: inherit;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: initial;
    border-left: none;
    height: 16px;
    width: 14px;
  }

  .trait-square-full {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-image: initial;
    border-left: none;
    height: 16px;
    width: 14px;
    background-color: rgb(238, 61, 52);
  }

  .combat-values-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #heart {
    position: relative;
    width: 25px;
    height: 16px;
    margin-top: 10px;
  }

  #heart::before, #heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 10px;
    height: 16px;
    border-radius: 50px 50px 0 0;
  }

  #heart.full::before, #heart.full::after {
    background: red;
  }

  #heart.empty::before, #heart.empty::after {
    background: var(--background-primary);
  }

  #heart::before {
    left: 10px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-left: 1px solid;
    border-top: 1px solid;
    border-right: 1px solid;
  }

  #heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  .aptitude-bon-input {
    background-color: inherit;
    /* width: 0%; */
    text-align: center;
    margin-left: 4px;
    padding: 0px;
    margin-top: 4px;
    max-width: 42px;
  }

  nav.tabs {
    position: absolute;
    left: 100%;
    top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    z-index: -1;
  }

  nav.tabs > .item.active, .break nav.tabs > .item:hover {
    text-shadow: none;
    margin: 0;
    border-color: white;
    box-shadow: 0 0 6px white;
  }

  nav.tabs > .item {
    width: 44px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 0.75rem;
    background: black;
    color: white;
    --icon-fill: white;
    border: 1px solid transparent;
    border-radius: 0 8px 8px 0;
    font-size: 14px;
    margin-left: calc((44px - 34px) * -1);
    transition: all 250ms ease;
  }

  .speed-rating {
    border: 1px solid black;
    font-family: Montserrat;
    line-height: 0.75;
    font-size: 12px;
    font-weight: normal;
    width: 25%;
    padding-left: 6px;

    &.active {
      font-weight: bold;
      border: 2px solid black
    }
  }

  .xp-label {
    margin: 0px 0px 0px 4px;
    font-family: Montserrat;
    line-height: 1.5;
    font-weight: 700;
    font-size: 11px;
  }

  .xp-box {
    display: flex;
    flex-direction: column;
  }

  .circle-input {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: center;
  }

  .clickable {
    cursor: pointer;

    &:hover {
      text-shadow: none;
      border-color: white;
      box-shadow: 0 0 6px white;
    }
  }

  button.clickable {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .money-input {
    border: none;
    background: transparent;
    width: 48px;
    text-align: center;
  }

  .weapon-type-drag-slot {
    flex: 1;
    height: 100%;
    border-right: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weapon-card-column {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 1px solid grey;
    padding-right: 6px;
  }
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .delete-weapon {
    position: absolute;
    left: 8px;
    font-size: 18px;
    visibility: hidden;
    cursor: pointer;
  }

  .weapon-name:hover .delete-weapon {
    visibility: visible;
  }

  .identity-header-label {
    margin: 0px;
    font-family: Montserrat;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 13px;
  }
}

.break.sheet.adversary {
  form {
    display: flex;
    flex-direction: row;
  }

  .adversary-aside {
    background: var(--background-secondary);
    max-width: 175px;

    .aside-section {
      display: flex;


      .aside-infos-section {
        display: flex;
        flex-direction: row;
      }

      .section-name {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        background-color: var(--background-tertiary);
        padding: 10px;
        margin-right: 10px;
        font-weight: 700;
        font-size: 14px;
        color: var(--text-secondary);
        text-align: center;
      }

      div {
        margin-bottom: 10px
      }
    }
  }

  .adversary-header {
    background: var(--background-secondary);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

    .adversary-header-sub-section {
      display: flex;
      align-items: center;
    }
  }

  .description {
    .editor {
      height: 100%;
    }
  }

  .adversary-misc-section {
    display: flex;
    column-gap: 24px;
    padding-bottom: 24px;

    .adversary-misc-sub-section {
      display: flex;
      flex-direction: column;
    }
  }

  .aptitude-bon-input {
    margin-top: 0;
  }

  .aptitude-container {
    padding-bottom: 0;
    margin-bottom: 12px;
  }
}

.chat-item {
  .item-icon {
    max-height: 65px;
    margin-right: 12px;
    background-color: var(--background-secondary);
  }

  .chat-item-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  .chat-item-header-infos {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .title-section {
    font-weight: 600;
    margin-top: 5px;
  }

  .item-name {
    margin: 0;
    font-weight: 600;
  }

  .item-type {
    font-weight: 500;
    margin: 0;
  }

  .property-label {
    font-weight: 600;
    margin-bottom: 5px;
  }

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.chat-message {
  background: var(--background-primary);
}

.checkbox-with-label {
  display: flex;
  align-items: center;
}

:root {
  --font-primary: Montserrat
}

#active-effects-panel {
  pointer-events: initial;
  position: absolute;
  top: 5px;
  right: 0;

  .effect-item {
      display: flex;
      justify-content: end;
      height: 52px;

      &:hover {
          .effect-info {
              display: flex;
              align-items: end;
              flex-direction: column;
          }
      }

      .effect-info {
          background-color: rgba(0, 0, 0, 0.75);
          color: var(--color-text-light-2);
          display: none;
          gap: 3px;
          height: min-content;
          margin-right: 0.5em;
          max-width: 350px;
          padding: 0.25em 0.5rem;

          h1 {
              border: none;
              display: flex;
              font-size: var(--font-size-14);
              padding-top: 0.25em;
              text-align: right;

              a[data-action="send-to-chat"] i {
                  font-size: var(--font-size-13);
                  margin-left: 2px;
              }
          }

          > a.inline-check {
              font-size: var(--font-size-13);
              font-weight: normal;
              line-height: normal;
              vertical-align: middle;
          }

          .description {
              font-size: var(--font-size-12);
          }

          .description {
              background: rgba(black, 0.7);
              max-height: 16em;
              overflow-y: auto;
              padding: 0 0.5em;
              text-align: left;

              a,
              span[data-pf2-effect-area] {
                  color: var(--color-text-dark-primary);
              }
          }
      }

      > .icon {
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow:
            0 0 0 1px #c0c0c0,
            0 0 0 2px #808080,
            inset 0 0 4px rgba(0, 0, 0, 0.5);
        color: transparent;
        display: flex;
        justify-content: center;
        position: relative;
        margin: 2px 0;
        height: 48px;
        width: 48px;
        background-color: rgba(0,0,0,0.5);

        .expired {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            padding: 2px 1px;
            color: var(--text-light);
            background-color: var(--primary);
        }
      }
  }

  > hr {
      margin-right: 0;
      width: 48px;
  }
}