<div class="flexcol" style="margin-top: 12px;">
    <div class="section-header">{{localize "BREAK.Abilities"}}</div>
    <div class="ability-list" style="display: flex; flex-wrap: wrap;">
        {{#each abilities}}
            <div style="display: flex; margin-bottom: 6px;align-items: center; width: 25%;">
                <label>{{this.name}}</label>
                <button class="delete-ability" data-id="{{this._id}}" style="margin-left: auto; max-width: 32px; margin-right: 8px;"><i class="fas fa-trash" style="margin: 0px;"></i></button>
            </div>
        {{/each}}
    </div>
</div>